////// Sign In Form Variables //////

//div form-parts
$fp-width: 400px;
$fp-min-height: 300px;
$fp-height: auto;

//form- parts labels
$lb-text-align: left;

//form- parts inputs
$inp-text-align: right;

//form- parts submits
$subm-text-align: right;
